{% extends "base.html" %}
{% load static %}

{% block title %}Scraper home{% endblock %}

{% block links %}
    <link href="{% static 'css/button.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4 ">Dashboard</h1>
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#modal-new-job">
                    <span class="fa fa-plus mr-2"></span>New job</button>
            </div>
            {% include 'modal/new-job.html' %}
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Jobs sent</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Details</th>
                                    <th class="text-center">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in scrapyjob_list %}
                                <tr style="background-color:{{job.row_color}}">
                                    <td class="text-center">{{ job.date|date:"M j, Y, H:i"}}</td>
                                    <td class="text-center">{{ job.status }}</td>
                                    <td class="text-center">{{ job.details|default_if_none:"-" }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-primary btn-info" href="{% url 'properties' %}?job_id={{ job.id }}"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-primary btn-download btn-opt" href="{% if job.is_done %}{% url 'job_options' 'download' job.id %}{% else %}#{% endif %}">
                                            <i class="fa fa-download"></i></a>
                                        {% if job.is_done %}
                                            <a class="btn btn-primary btn-danger btn-del" data-toggle="modal" data-target="#modal-confirm-delete" data-url="{% url 'job_options' 'delete' job.id %}">
                                                <i class="fa fa-trash"></i></a>
                                        {% else %}
                                            <a class="btn btn-primary btn-danger"><i class="fa fa-trash"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'modal/confirm-delete.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
    <script>
        $(document).ready(function(){
            $.fn.dataTable.moment('MMM D, YYYY, HH:mm');
            $('#dataTable').DataTable({
                "order": [[ 0, "desc" ]],
            });
        });
    </script>
    <script src="{% static 'js/options.js' %}"></script>
{% endblock %}